{
    "name": "Base16 {{scheme-name}} 256",
    "foreground": "#{{base05-hex}}",
    "background": "#{{base00-hex}}",
    "cursorColor": "#{{base05-hex}}",
    "selectionBackground": "#{{base02-hex}}",
    "black": "#{{base00-hex}}",
    "red": "#{{base08-hex}}",
    "green": "#{{base0B-hex}}",
    "yellow": "#{{base0A-hex}}",
    "blue": "#{{base0D-hex}}",
    "purple": "#{{base0E-hex}}",
    "cyan": "#{{base0C-hex}}",
    "white": "#{{base05-hex}}",
    "brightBlack": "#{{base03-hex}}",
    "brightRed": "#{{base08-hex}}",
    "brightGreen": "#{{base0B-hex}}",
    "brightYellow": "#{{base0A-hex}}",
    "brightBlue": "#{{base0D-hex}}",
    "brightPurple": "#{{base0E-hex}}",
    "brightCyan": "#{{base0C-hex}}",
    "brightWhite": "#{{base07-hex}}"
}
